/*make everything center and column*/
body {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
}

/*buttons width*/
.btn {
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 40px;
}

/*borders and hovers*/
.number {
    border: 1px solid green;
    border-radius: 10px;
}

.number:hover {
    background-color: green;
   color: white;
}

.operator {
    border: 1px solid purple;
    border-radius: 10px;
}

.operator:hover {
    background-color: purple;
   color: white;
}


.equal {
    border: 1px solid red;
    border-radius: 10px;
}

.equal:hover {
    background-color: red;
   color: white;
}


.decimal {
    border: 1px solid goldenrod;
    border-radius: 10px;
}

.decimal:hover {
    background-color: goldenrod;
   color: white;
}


.clear {
    border: 1px solid blue;
    border-radius: 10px;
}

.clear:hover {
    background-color: blue;
   color: white;
}

/*making clear button and container for numbers flex*/
.first-row {
    display: flex;
    align-items: center;
    
}

/*creating screen for answers/numbers*/

.screen {
    width: 300px;
    height: 75px;
    border: 1px solid orangered;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*upper and bottom number style*/

.previous {
    font-size: 20px;
}


.current {
    font-size: 30px;
}